{% if general_info_url or legislation_info_url %}
<div class="govuk-inset-text" data-testid="additional-information">
    <p>There is additional information available for this license that you might find useful</p>
    <ul class="govuk-list">
        {% if general_info_url %}
        <li>
            <a href="#" data-testid="general-information" class="govuk-link" rel="noreferrer noopener" target="_blank">General information from the licensing authority (opens in new tab)</a>
        </li>
        {% endif %}
        {% if legislation_info_url %}
        <li>
            <a href="#" data-testid="legislation-information" class="govuk-link" rel="noreferrer noopener" target="_blank">More detailed information on legislation etc. (opens in new tab)</a>
        </li>
        {% endif %}
    </ul>
</div>
{% endif %}