<p class="govuk-body" data-testid="supporting-documents-statement">All documents are required, unless stated otherwise. Photos of documents are acceptable, as long as all the relevant information is clear. We'll only share these documents with the licensing authority.</p>
<div class="govuk-inset-text" data-testid="supporting-documents-inset">
  <p class="govuk-body">Maximum size allowed per file is 10 MB.</p>
  <p class="govuk-body">We only allow the following file types : {{ accepted_file_extensions|join:', ' }}</p>
</div>
<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text" data-testid="supporting-documents-details">
     What if I can't submit all of these documents?
    </span>
  </summary>
  <div class="govuk-details__text">
        You don't have to submit optional documents, but it may improve your chances of a successful application if you do.
  </div>
</details>